.header-card-list-item{
    /* display: flex; */
    position: relative;
}

.header-card-list-item-data{
    display: flex;
    flex-direction: row;
    gap: 10rem;
    height: 100%;
    width: inherit;
    position: relative;
    overflow: hidden;

    background-size: cover;
    background-repeat: no-repeat;
}

.header-card-list-item-background-image{
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:local;
    background-position: left; 
    width: 100%;
    height: 100%;
    top: 0;
}


/* Left Side Pillar */
.card-vertical-pillar-left{
    background-color: #D2D1D2;
    position: absolute;
    height: 100%;
    width: 15rem;
    z-index: 10;
    border-bottom-right-radius: 15rem;

    animation-name: top-bottom-drag-animation;
    animation-duration: 2s;
}

.card-horizontal-pillar-left{
    background-color: lightskyblue;
    position: absolute;
    height: 40%;
    width: 15rem;
    margin-left: 2rem;
    margin-top: 3rem;
    z-index: 10;

    animation-name: left-right-drag-animation;
    animation-duration: 2s;
}



.card-vertical-pillar-right{
    background-color: white;
    position: absolute;
    right: 0rem;
    height: 100%;
    width: 15rem;
    z-index: 10;
    border-bottom-left-radius: 15rem;

    animation-name: top-bottom-drag-animation;
    animation-duration: 2s;
}

.card-horizontal-pillar-right{
    background-color: lightgreen;
    position: absolute;
    height: 40%;
    width: 15rem;
    margin-left: 2rem;
    margin-top: 3rem;
    z-index: 10;

    animation-name: right-left-drag-animation;
    animation-duration: 2s;
}


@keyframes top-bottom-drag-animation {
    from {margin-top: -100%;}
    to {margin-top: 0%;}
}

@keyframes left-right-drag-animation {
    from {margin-left: -20rem;}
    to {margin-left: 2rem}
}

@keyframes right-left-drag-animation {
    from {margin-left: 100%;}
    to {margin-left: 2rem;}
}



.card-info-section-left,
.card-info-section-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    padding-top: 5rem;
    margin-left: 5rem;
    z-index: 20;
    position: relative;
}

.card-info-header{
    position: relative;
    margin-top: 3rem;
    font-size: 2.5rem;
    font-weight: 700;
    z-index: 20;
}

.card-info-header > h2{
    position: relative;
    margin-top: 0rem;
    z-index: 30;
}

.card-info-category{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: -3rem;
}

.card-info-description
{
    margin-top: -1.5rem;
}

.card-info-section-right{
    flex: 1;
}

.card-info-read-more{
    margin-top: 1rem;
}

.card-info-read-more > button{
    background-color: black;
    color: red;
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    cursor: pointer;
    transition: 1s all;
}

.card-info-read-more > button:hover{
    background-color: orange;
    color: white;
}


@media screen and (max-width: 960px) {
    .header-card-list-item{
        flex-direction: column;
    }

    .header-card-list-item-background-image{
        position: relative;
        background-size:cover;
        width: 100%;
        flex: 1;
        flex-grow: 1;
        height: 50%;
        /* border-style: solid;
        border-color: yellow; */
    }

    .header-card-list-item-data{
        /* border-style: solid;
        border-color: red; */
        flex: 1;
        flex-grow: 1;
        overflow: unset;
        gap: unset;
        flex-direction: column;
    }

    .card-vertical-pillar-left,
    .card-vertical-pillar-right{
        width: 100%;
        height: 50%;
    }

    .card-horizontal-pillar-left{
        margin-left: 1rem;
        margin-top: 1rem;
        width: 5rem;
    }

    .card-info-section-left,
    .card-info-section-right{
        margin-left: 1rem;
        padding-top: unset;
    }

    .card-info-header{
        margin-top: unset;
    }

    .card-info-header > h2{
        font-size: 1.2rem;
    }

    .card-info-category{
        font-size: 1rem;
        margin-top: -1.5rem;
    }

    .card-info-description {
        margin-top: -1rem;
    }

    .card-info-description > p{
        font-size: 0.8rem;
    }
}