.about-us-page{
    display: flex;
    flex-direction: column;
}

.about-us-page-header{
    background-color: #f3f4f6;
    width: 100%;
    min-height: 15rem;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    padding-bottom: 6rem;
    padding-top: 6rem;
}

.about-us-page-header > h1{
    font-size: 4rem;
    margin-top: 0rem;
    color: #D7A76D;
}



.about-us-about-us-info-container{
    display: flex;
    flex-direction: column;
}

.about-us-info-top{
    display: flex;
    flex-direction: row;
    gap: 25rem
}

.about-us-info-top-left {
    flex: 1;
}



.know-more-hint{
    color: #E7B777;
    font-size: 0.8rem;
}

.color-orange{
    color: #E7B777;
}

.about-us-info-top-right {
    flex: 1;
    max-height: 25rem;
    max-width: 25rem;
    background-color: #E7B77752;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us-info-top-right > figure{
    height: 100%;
    width: 100%;
    margin: 0rem;
}

.about-us-info-top-right > figure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}


.about-us-info-bottom{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: space-between;
}

.about-us-info-bottom > figure{
    height: 15rem;
    width: 15rem;
    margin: 0rem;
}

.about-us-info-bottom > figure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}


.about-us-about-uniqueness-container{
    margin-top: 5rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    background-color: #f3f4f6;
    width: 100%;
}

.uniqueness-section-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10rem;
}

.uniqueness-section-left{
    flex: 2;
    width: 100%;
    max-width: 35rem;
}

.uniqueness-section-left h4{
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.uniqueness-section-left h1{
    margin-top: 2rem;
}

.uniqueness-section-right{
    flex: 1;
    max-width: 15rem;
}

.uniqueness-section-right > figure{
    height: 100%;
    width: 100%;
    margin: 0rem;
    height: 15rem;
    width: 15rem;
}

.uniqueness-section-right > figure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}






.about-us-our-services-container{
    margin-top: 5rem;
}


.about-us-our-services-section-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10rem;
}

.about-us-our-services-section-left{
    flex: 2;
    width: 100%;
    max-width: 35rem;
}

.about-us-our-services-section-left h4{
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.about-us-our-services-section-left h1{
    margin-top: 2rem;
}

.about-us-our-services-section-right{
    flex: 1;
    max-width: 15rem;
}

.about-us-our-services-section-right > figure{
    height: 100%;
    width: 100%;
    margin: 0rem;
    height: 15rem;
    width: 15rem;
}

.about-us-our-services-section-right > figure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}






.about-us-our-values-container{
    margin-top: 5rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    background-color: #f3f4f6;
    width: 100%;
}

.our-values-section-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.our-values-section-bottom h4{
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.our-values-section-bottom h1{
    margin-top: 2rem;
}

.our-values-section-bottom i {
    width: 2.5rem;
    font-size: 2rem;
}


.our-values-section-bottom p {
    margin-left: 3rem;
}




.about-us-our-customers-container{
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
}


.our-customers-section-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.our-customers-section-customers-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    overflow-anchor: none;
}

.our-customers-section-customers-grid > figure{
    height: 100%;
    width: 100%;
    margin: 0rem;
}

.our-customers-section-customers-grid > figure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}







@media screen and (max-width: 960px) {
    .about-us-page-header > h1{
        font-size: 2.5rem;
    }


    .about-us-info-top{
        flex-direction: column;
        gap: 2rem
    }



    .about-us-info-bottom{
        gap: 2rem;
        justify-content:start;
        flex-wrap: wrap;
    }


    .about-us-info-bottom > figure{
        height: 10rem;
        width: 10rem;
    }
    
    .about-us-info-bottom > figure > img{
        height: 10rem;
        width: 10rem;
    }





    .uniqueness-section-bottom{
        flex-direction: column;
        gap: 2rem;
    }



    .uniqueness-section-right > figure{
        height: 20rem;
        width: 20rem;
    }
    
    .uniqueness-section-right > figure > img{
        height: 20rem;
        width: 20rem;
    }





    .about-us-our-services-section-bottom{
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
    }

    .about-us-our-services-section-right > figure{
        width: 20rem;
        height: 20rem;
    }
    
    .about-us-our-services-section-right > figure > img{
        width: 20rem;
        height: 20rem;
    }

    .our-values-list{
        display: flex;
        flex-direction: column;
    }


    .our-values-list > h1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .our-values-section-bottom p {
        margin-left: 0rem;
        text-align: center;
    }



    .our-customers-section-customers-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }
}