.about-popular-products-section{
    /* width: 100%; */
}

.about-popular-products-header{
    text-align: center;
}

.about-popular-products-header > h1{
    font-size: 3rem;
    margin-top: 1rem;
}

.about-popular-products-header > h3{
    color: #A5AAAE;
}

.popular-products-section{

}

.popular-products-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}


@media screen and (max-width: 960px) {
    .about-popular-products-header > h1{
        font-size: 2rem;
    }

    .popular-products-section{
        grid-template-columns: 1fr;
        gap: 5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
}