.new-arrivals-container{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    height: 100%;
    width: 100%;
}

.new-arrivals-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-arrivals-header-top{
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.new-arrivals-header-top > h3{
    color: grey;
    font-weight: 600;
}

.new-arrivals-header-bottom{
    flex: 1;
    text-align: left;
    width: 100%;
}

.new-arrivals-item-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 2rem;
    gap: 2rem;
}


@media screen and (max-width: 960px) {
    .new-arrivals-header{
        flex-direction: column;
    }

    .new-arrivals-item-list{
        grid-template-columns: 1fr 1fr 1fr;
    }   

    .new-arrivals-header-bottom{
        text-align: center;
    }
}


@media screen and (max-width: 660px) {
    .new-arrivals-item-list{
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width: 360px) {
    .new-arrivals-item-list{
        grid-template-columns: 1fr;
    }
}