.products-grid-section{
    width: 100%;
}

.products-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

@media screen and (max-width: 960px) {
    .products-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}