.products-grid-section{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.products-grid{
    width: 100%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    overflow-anchor: none;
}

.products-grid-navigation-buttons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.products-grid-navigation-buttons > .button-arrow-left{
    margin-right: auto;
    font-size: 0.7rem;
}

.products-grid-navigation-buttons > .button-arrow-right{
    margin-left: auto;
    font-size: 0.7rem;
}

.products-grid-navigation-buttons > .button-page-number{
    justify-self: center;
}

.products-grid-navigation-buttons > .button-page-number.active{
    background-color: #D7A76D !important;
}

@media screen and (max-width: 960px) {
    .products-grid{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem
    }

    .button-page-number{
        display: none;
    }
}
/* 

@media screen and (max-width: 660px) {
    .products-grid{
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width: 360px) {
    .products-grid{
        grid-template-columns: 1fr;
    }
} */