.limited-sales-section{
    background-color: #f5f5f5;
    width: 100%;
}

.limited-sales-section-inner{
    display: flex;
    flex-direction: row;
    gap: 2rem;

    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.sales-items-list{
    flex: 3;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.sales-items-list > div {
    flex: 1;
}

.sales-information {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sales-information.mobile {
    display: none;
}

.sales-information > h2 {
    color: #E7B777;
    margin-top: 0rem;
}

.sales-information > h1 {
    font-size: 2rem;
}

.sales-information > p {
    line-height: 1.8rem;
}

.all-deals-button-section{
    margin-top: 4rem;
}



@media screen and (max-width: 960px) {
    .sales-information {
        display: none;
    }

    .sales-information.mobile {
        display: unset;
        text-align: center;
    }

    .limited-sales-section-inner{
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}