.header-card-list-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 44rem;
    position: relative;
}

.list-item{
    display: none;
}

.list-item.active{
    display: unset;
}

.slider-nav-button{
    font-size: 2rem;
    font-weight: 600;
    position:absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%,-50%);
}

.slider-nav-button.left{
    left: 2%;
    cursor: pointer;
    z-index: 20;
}

.slider-nav-button.right{
    left: 98%;
    cursor: pointer;
    z-index: 20;
}


@media screen and (max-width: 960px) {
    .header-card-list-container{
        height: 28rem;
        padding-bottom: 8rem;
    }



    .slider-nav-button.left{
        left: 6%;
        cursor: pointer;
        z-index: 20;
    }
    
    .slider-nav-button.right{
        left: 94%;
        cursor: pointer;
        z-index: 20;
    }
}