.doslunas-app-container{
  /* color: #687279; */
}

.home-section {
  display: flex;
  align-items:start;
  justify-content: center;
}

.section-header {
  min-height: 9rem;
  height: 13vh;
}

.section-feature {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
}

.section-feature > div{
  min-height: 5vh;
  min-width: 100%;
  /* margin-top: 8rem; */
}

.app-default-padded {
  padding-left: 20rem;
  padding-right: 20rem;
}



.custom-button{
  cursor: pointer;
  height: 2.5rem;
  width: 10rem;
  background-color: #e7b777;
  border: none;
  color: white;

  transition: background-color 200ms linear;
}

.custom-button:hover{
  background-color: #61CE70;
}

.custom-button-secondary {
  font-weight: 600;
  /* background-color: white; */
  background-color: transparent;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  transition: 0.5s all;
}

.custom-button.disabled{
  background-color: palegreen;
  cursor:not-allowed;
}

.custom-button-secondary:hover{
  background-color: orange;
  color: white;
  border-style: none;
}



.custom-button-tertiary {
  font-weight: 600;
  background-color: transparent;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
  transition: 0.2s all;
  border-color: #d9dadc;
  border-style: solid;
  border-width: 0.01rem;
  color: #231F20;
}

.custom-button-tertiary:hover{
  border-color: orange;
  color: orange;
}

.custom-button-tertiary.active {
  background-color: orange;
  border-color: orange;
  color: #fff;
}



.custom-button-no-border {
  font-weight: 600;
  background-color: transparent;
  border-color: transparent;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
  transition: 0.1s all;
  border-radius: 10%;
}

.custom-button-no-border:hover{
  border-color: orange;
  border-style: solid;
  color: orange;
}



.divider-solid {
  border-top: 1px solid rgba(222, 222, 222, 0.5);
  width: 100%;
}

.divider-solid-black {
  border-top: 1px solid rgba(0, 0, 0, 1);
  width: 100%;
}


.divider-thin {
  border-top: 0.1px solid rgba(222, 222, 222, 0.1);
  width: 100%;
}



.m-t-xs{
  margin-top: 1rem;
}

.m-t-s{
  margin-top: 2rem;
}


.m-t-m{
  margin-top: 4rem;
}


.m-t-l{
  margin-top: 6rem;
}


.m-t-xl{
  margin-top: 8rem;
}



input{
  padding: 1rem 1rem 1rem 1rem;
  font-size: 1rem;
}

input:focus{
  outline-color: grey;
}



textarea{
  padding: 1rem 1rem 1rem 1rem;
  font-size: 1rem;
}

textarea:focus{
  outline-color: grey;
  
}



@media screen and (max-width: 960px) {
  .app-default-padded{
    padding-left: 1rem;
    padding-right: 1rem;
  }


  .section-feature {
    /* padding-left: 1rem;
    padding-right: 1rem; */
  }
}