.doslunas-app-container{
  
}

.home-section {
  display: flex;
  align-items:start;
  justify-content: center;
}

.section-header {
  min-height: 9rem;
  height: 13vh;
}

.section-feature {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
}

.section-feature > div{
  min-height: 5vh;
  min-width: 100%;
  /* margin-top: 8rem; */
}

.app-default-padded {
  padding-left: 20rem;
  padding-right: 20rem;
}



.custom-button{
  cursor: pointer;
  height: 2.5rem;
  width: 10rem;
  background-color: #e7b777;
  border: none;
  color: white;
}

.custom-button-secondary {
  font-weight: 600;
  /* background-color: white; */
  background-color: transparent;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  transition: 0.5s all;
}

.custom-button-secondary:hover{
  background-color: orange;
  color: white;
  border-style: none;
}

.custom-button:hover{
  background-color: #61CE70;
}



.divider-solid {
  border-top: 1px solid rgba(222, 222, 222, 0.5);
  width: 100%;
}


.divider-thin {
  border-top: 0.1px solid rgba(222, 222, 222, 0.1);
  width: 100%;
}





@media screen and (max-width: 960px) {
  .app-default-padded{
    padding-left: 1rem;
    padding-right: 1rem;
  }


  .section-feature {
    /* padding-left: 1rem;
    padding-right: 1rem; */
  }
}