.navbar{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.navbar-logo{
    flex: 1;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
}
    
.navbar-logo-image-link{
  width: 100%;
}

.navbar-logo-image {
    object-fit: contain;
    height: 60%;
    width: 100%;
    cursor: pointer;
}

.navbar-menu-section{
    flex: 4;
}

.navbar-extras{
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.nav-menu {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  align-items: center;
  justify-content:start;
  margin-right: 2rem;
  position:relative;
}

.nav-item {
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.nav-item-link-container{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-links {
  font-weight: 400;
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-item:hover {
  border-bottom: 2px solid greenyellow;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: gray;
  height: 100%;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
  /* height: 100%; */
}

.nav-menu-l1{
  list-style: none;
  max-width: 10rem;
  top: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  /* left: -2rem; */
  left: -3rem;
  display: none;
}

.nav-item:hover > .nav-menu-l1{
  display: unset;
}

.nav-menu-l1:hover{
  display: unset;
}

.nav-item-l1{
  background-color: #231F20;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;
}

.nav-links-l1{
  color: #fff;
  width: 100%;
  font-size: 0.8rem;
  text-decoration: none;
}

.menu-toggle-icon{
  font-size: 0.7rem;
  margin-left: 0.7rem;
}

.nav-item-l1:hover .nav-links-l1{
  color: #E7B777;
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 960px) {
  .navbar{
    
  }


  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: -2px;
    left: -200%;
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }

  .nav-menu.active {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    justify-content: center;
    background-color: #231F20;
    color: #fff;
    left: 0;
    
    transition: all 0.2s ease;
    z-index: 1;

    position:absolute;
    top: -2px;
    left: -2px;
    height: 100vh;
    width: 100vw;
    margin-top: 0rem;
  }



  .nav-item {
    width: 100%;
    height: unset;
    min-height: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }


  .expand-menu-icon{
    margin-left: 2rem;
    width: 2rem;
    text-align: center;
    font-size: 1rem;
  }


  .nav-item:hover {
    border-style: none;
  }


  .nav-links {
    text-align: top;
    padding: 0rem;
    font-weight: 800;
    font-size: 1.2rem;
    color: #fff;
  }

  .nav-links:hover {
    color: #e7b777;
  }




  .nav-menu-l1{
    background-color: #231F20;
    display: none;
    /* display: flex; */
    position: unset;
    left: unset;
    width: 100%;
    padding-left: unset;
  }


  .nav-links-l1{
    font-size: 1rem;
    font-weight: 600;
  }





  .navbar-logo {
    margin-left: 0rem;
  }
  
  .navbar-logo-image {
    width: 300%;
    object-fit: contain;
    justify-self: end;
  }

  .menu-icon {
    height: 100%;
    display: unset;
    font-size: 1rem;
    cursor: pointer;
    z-index: 2;
    /* background-color: #fff; */
    color: white;
  }

  .fa-solid.fa-xmark{
    font: 12rem;
  }

  .fa-times {
    color: black;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #f6fdfa;
    color: #242424;
    transition: 250ms;
  }

  .navbar-extras {
    flex: 1;
    font-size: 1rem;
    gap: 1.5rem;
  }

  .navbar-extras > button{
    display: none;
  }
}